.cart-blok{
    display: flex;
    align-items: center;
    position: relative;
}
.cart-blok__icon{
    cursor: pointer;
    position: relative;
}
.card-blok__total-prise{
margin-left: 15px;
font-size: 18px;
font-weight: bold;
}